.toast {
	position: fixed;
	top: 20px;
	right: 20px;
	height: 1.5rem;
	background: #16c000;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1rem;
}

.toast-close {
	display: flex;
	align-items: center;
	background: transparent;
	border: none;
	color: #fff;
	cursor: pointer;
}

.toast-close svg {
	font-size: 1.5rem;
}
