@font-face {
	font-family: Lalezar;
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url(/assets/lalezar-arabic-400-normal-C1u539R_.woff2) format('woff2'),
		url(/assets/lalezar-arabic-400-normal-CTRXnTJD.woff) format('woff');
	unicode-range: U+0600-06FF, U+0750-077F, U+0870-088E, U+0890-0891, U+0898-08E1, U+08E3-08FF, U+200C-200E, U+2010-2011,
		U+204F, U+2E41, U+FB50-FDFF, U+FE70-FE74, U+FE76-FEFC, U+102E0-102FB, U+10E60-10E7E, U+10EFD-10EFF, U+1EE00-1EE03,
		U+1EE05-1EE1F, U+1EE21-1EE22, U+1EE24, U+1EE27, U+1EE29-1EE32, U+1EE34-1EE37, U+1EE39, U+1EE3B, U+1EE42, U+1EE47,
		U+1EE49, U+1EE4B, U+1EE4D-1EE4F, U+1EE51-1EE52, U+1EE54, U+1EE57, U+1EE59, U+1EE5B, U+1EE5D, U+1EE5F, U+1EE61-1EE62,
		U+1EE64, U+1EE67-1EE6A, U+1EE6C-1EE72, U+1EE74-1EE77, U+1EE79-1EE7C, U+1EE7E, U+1EE80-1EE89, U+1EE8B-1EE9B,
		U+1EEA1-1EEA3, U+1EEA5-1EEA9, U+1EEAB-1EEBB, U+1EEF0-1EEF1;
}
@font-face {
	font-family: Lalezar;
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url(/assets/lalezar-vietnamese-400-normal-DI_ExVn6.woff2) format('woff2'),
		url(/assets/lalezar-vietnamese-400-normal-YDoDpK9y.woff) format('woff');
	unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304,
		U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: Lalezar;
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url(/assets/lalezar-latin-ext-400-normal-CvUFnWG6.woff2) format('woff2'),
		url(/assets/lalezar-latin-ext-400-normal-B3LL4kfh.woff) format('woff');
	unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113,
		U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: Lalezar;
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src: url(/assets/lalezar-latin-400-normal-9Q9KJ0ga.woff2) format('woff2'),
		url(/assets/lalezar-latin-400-normal-CWnWz253.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F,
		U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
	font-family: Morabba;
	src: url(/../assets/fonts/moraba/Morabba-Medium.eot);
	src: url(/../assets/fonts/moraba/Morabba-Medium.eot?#iefix) format('embedded-opentype'),
		url(/assets/Morabba-Medium-Bi5ogTCL.woff2) format('woff2'), url(/assets/Morabba-Medium-CpBA4lka.woff) format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: Morabba-Bold;
	src: url(/../assets/fonts/moraba/Morabba-Bold.eot);
	src: url(/../assets/fonts/moraba/Morabba-Bold.eot?#iefix) format('embedded-opentype'),
		url(/assets/Morabba-Bold-C1sbk97z.woff2) format('woff2'), url(/assets/Morabba-Bold-28VY_RHF.woff) format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}
:root {
	--font-family: 'Morabba', cursive;
	--font-size: 62.5%;
	--font-weight: 400;
	--line-height: 1.5;
	--letter-spacing: 0;
}
html {
	font-family: var(--font-family);
	font-size: var(--font-size);
	font-weight: var(--font-weight);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
}
.App__container {
	display: flex;
}
.App_main {
	flex: 5;
	padding: 0 2rem;
	min-height: 100%;
	overflow: auto;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 50.5%;
	font: inherit;
	vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
[hidden] {
	display: none;
}
ol,
ul {
	list-style: none;
}
a {
	text-decoration: none;
}
a:focus {
	outline: none;
}
#modals {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #00000080;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s;
}
.modal__active {
	visibility: visible !important;
	opacity: 1 !important;
}
.header {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	height: 95px;
	margin: 0 1.7rem;
}
.header__info {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 30%;
	height: 100%;
	font-size: 1.5rem;
	font-weight: 700;
	color: #471aaa;
	transition: all 0.3s ease-in-out;
	margin-left: auto;
	-webkit-user-select: none;
	user-select: none;
}
.header__info:hover {
	color: #612ecf;
}
.header__info--profile {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 70px;
	height: 70px;
	cursor: pointer;
}
.header__info--profile--img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.header__info--name {
	margin-right: 1rem;
}
.header__info--name p:nth-child(1) {
	color: #0c0909;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 1.3rem;
	cursor: pointer;
}
.header__info--name p:nth-child(1) > svg {
	margin-right: 0.2rem;
	font-size: 1.3rem;
	transition: all 0.3s ease-in-out;
}
.header__info--name p:nth-child(1) > svg.active {
	color: #471aaa;
	transform: rotate(180deg);
}
.header__info--name p:nth-child(2) {
	color: #686868;
	font-weight: 600;
	font-size: 1rem;
}
.header__megaMenu {
	position: absolute;
	top: 100%;
	right: 0;
	width: 65%;
	background-color: #fff;
	z-index: 100;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease-in-out;
	border-radius: 0.3rem 0.3rem 1rem 1rem;
	transform-origin: top right;
	box-shadow: #00000029 0 3px 6px, #0000003b 0 3px 6px;
}
.header__megaMenu--active {
	opacity: 1;
	visibility: visible;
}
.header__megaMenu--lists {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	width: 100%;
}
.header__megaMenu--lists--text {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
}
.header__megaMenu--list {
	display: flex;
	justify-content: start;
	align-items: center;
	width: 95%;
	border-bottom: 1px solid #d3d8e5;
	padding: 0.5rem;
	transition: 0.3s all ease-in-out;
}
.header__megaMenu--list:last-child {
	border-bottom: none;
}
.header__megaMenu--link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding: 0.5rem;
	border-bottom: 1px solid #d3d8e5;
	color: #0c0909;
	font-weight: 100;
	border-radius: 1rem;
	font-size: 1rem;
}
.header__megaMenu--link:last-child {
	border-bottom: none;
}
.header__megaMenu--link:hover {
	background-color: #d3d8e5;
}
.header__megaMenu--link--text {
	font-size: 1.5rem;
	color: #471aaa;
}
.header__megaMenu--icon {
	margin: 0 1rem;
}
.header__megaMenu--icon > svg {
	font-size: 1.5rem;
	color: #471aaa;
}
.header__search--box {
	position: relative;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 41rem;
}
.header__search--box--input {
	width: 100%;
	height: 100%;
	border: none;
	outline: none;
	font-size: 1.5rem;
	font-weight: 700;
	color: #471aaa;
	background-color: #fff;
	text-align: right;
	direction: rtl;
	font-family: Morabba;
	padding: 0.8rem 1rem 1rem 8rem;
	border-radius: 15px;
	margin-left: 1rem;
	box-shadow: 0 0 10px #0000001a;
}
.header__search--box--btn {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 1.5rem;
	padding: 0.7rem 2rem;
	font-size: 1.3rem;
}
.header__search--box--btn > svg {
	margin-right: 0.5rem;
}
.header__tools {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 57rem;
	height: 100%;
	font-size: 1.5rem;
	font-weight: 700;
	color: #471aaa;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.header__tools--btnBox {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	column-gap: 15px;
	margin-left: 10px;
}
.header__tools--btn {
	padding: 1rem 1.2rem;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.header__tools--btn:hover {
	background-color: #d3d8e5;
}
.header__tools--btn > svg {
	font-size: 1.5rem;
	color: #fff;
}
.btn {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #471aaa;
	border-radius: 20px;
	color: #fff;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	font-family: lalezar;
	outline: none;
	border: none;
}
.btn:hover {
	background-color: #612ecf;
}
.sidebar {
	flex: 1.2;
	background-color: #471aaa;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	height: 100vh;
	min-height: 900px;
}
.sidebar__container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.sidebar__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100px;
	font-size: 1.8rem;
	color: #fff;
	font-weight: 900;
	border-bottom: 1px dashed rgba(211, 216, 229, 0.5);
	padding-bottom: 0;
	column-gap: 1rem;
}
.sidebar__logo--img {
	width: 40px;
	height: 40px;
}
.sidebar__logo > h1 {
	margin-top: 0.5rem;
}
.sidebar__nav {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	flex-grow: 1;
	padding: 0.5rem;
	overflow-y: auto;
}
.sidebar__nav::-webkit-scrollbar {
	display: none;
}
.sidebar__nav--item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	color: #fff;
	font-size: 1.2rem;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease-in;
	padding: 1rem;
	width: 100%;
	border-radius: 1rem;
}
.sidebar__nav--item:hover,
.sidebar__nav--active {
	background-color: #612ecf;
}
.sidebar__nav--link {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	text-decoration: none;
	color: #fff;
	width: 90%;
	margin: 1rem 0;
}
.sidebar__nav--list {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 90%;
	height: auto;
	padding: 1rem;
}
.sidebar__nav--text {
	font-size: 1.5rem;
}
.sidebar__nav--icon {
	font-size: 2rem;
	margin-left: 1rem;
}
.sidebar__logout {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: 100%;
	height: 20%;
}
.sidebar__logout--link {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80%;
	height: 3rem;
	background-color: #d3d8e5;
	padding: 1rem;
	margin: 1rem;
	border-radius: 1rem;
	color: #471aaa;
}
.sidebar__logout--link:hover {
	color: #fff;
	background-color: #471aaa;
	box-shadow: #612ecf 0 7px 29px;
}
.sidebar__logout--btn {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}
.sidebar__logout--icon {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.5rem;
	margin-left: 1rem;
}
.sidebar__logout--text {
	font-size: 1.4rem;
}
.users {
	width: 100%;
	display: flex;
	align-items: end;
	justify-content: space-between;
	flex-direction: row;
	gap: 2rem;
}
.users .users__title {
	font-size: 2.5rem;
	font-weight: 700;
	text-align: start;
	margin-top: 2rem;
}
.users__button--addUser {
	width: 15rem;
	font-size: 1.5rem;
	padding: 0.5rem 0;
	margin-left: 1rem;
}
.users__button--addUser > svg {
	margin-right: 1rem;
}
.table {
	width: 95%;
	max-width: 1500px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	margin: 2rem auto;
	background-color: #fff;
	border-radius: 1rem;
	box-shadow: 0 0 10px #0c09091a;
	padding: 2rem;
}
.table__empty {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 1rem;
}
.table__empty--img img {
	width: 100%;
	height: 20rem;
}
.table__empty--text {
	font-size: 2rem;
	font-weight: 700;
}
.table__container {
	width: 95%;
	margin-top: 2rem;
}
.table__header {
	width: 100%;
	padding: 1rem 0;
	margin-bottom: 2rem;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.table__header--title {
	font-size: 1.5rem;
	font-weight: 700;
	width: 25%;
	text-align: right;
}
.table__header tr {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.table__body {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 2rem;
}
.table__body tr {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.table__data {
	font-size: 1.2rem;
	width: 25%;
}
.table__data--img {
	width: 10rem;
	height: 10rem;
	border-radius: 50%;
}
.table__button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
}
.table__button > button {
	padding: 0.7rem 2rem;
}
.users__data {
	width: 100%;
}
.users__data--firsname {
	width: 20%;
}
.users__data--age {
	width: 10%;
}
.users__data--username {
	width: 20%;
}
.users__data--phone {
	width: 20%;
	direction: ltr;
	text-align: end;
}
.users__data--email {
	width: 20%;
}
.users__form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-start;
	align-content: flex-start;
	flex-wrap: wrap;
	width: 90%;
	height: 75%;
	gap: 2rem;
	margin-top: 5rem;
	padding: 2rem;
}
.users__group {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 45%;
	max-width: 300px;
	flex-grow: 1;
	margin: 0.6rem 0;
}
.users__label {
	position: absolute;
	top: 0;
	right: 1rem;
	transform: translateY(-50%);
	background-color: #d3d8e5;
	font-size: 1.2rem;
	color: #471aaa;
	padding: 0 0.5rem;
	border-radius: 0.2rem;
}
.users__input {
	width: 300px;
	height: 50px;
	background: #d3d8e5;
	border: none;
	border-radius: 13px;
	outline: none;
	font-family: lalezar;
	font-size: 1.2rem;
	font-weight: 400;
	padding-right: 2rem;
}
.users__input[name='phone'] {
	direction: ltr;
	text-align: end;
}
.users__input::-webkit-outer-spin-button,
.users__input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.users__input::placeholder {
	color: #777;
	padding-left: 1rem;
}
.users__button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 90%;
	gap: 3rem;
}
.users__button--submit,
.users__button--cancel {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20.5rem;
	height: 4.5rem;
	border-radius: 13px;
	font-size: 1.5rem;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease;
}
.users__button--submit > svg,
.users__button--cancel > svg {
	margin-right: 1rem;
}
.users__button--submit {
	background-color: #471aaa;
	color: #fff;
}
.users__button--submit:hover {
	background-color: #612ecf;
}
.users__button--cancel {
	background-color: #d3d8e5;
	color: #777;
}
.users__button--cancel:hover {
	background-color: #d3d8e5b3;
}
.error-text {
	position: absolute;
	top: 100%;
	color: red;
}
.editModal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 715px;
	height: 600px;
	background: #fff;
	border-radius: 25px;
	z-index: 2;
}
.editModal__content {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.editModal__title {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 78px;
	border-bottom: 1px solid rgba(211, 216, 229, 0.7);
	padding: 0.5rem 0;
}
.editModal__title--header {
	font-size: 2rem;
	font-weight: 700;
	color: #333;
	margin-right: 3.5rem;
}
.editModal__title--icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 3.2rem;
	height: 3.2rem;
	background-color: #471aaa;
	border-radius: 50%;
	margin-right: 1rem;
}
.editModal__details {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-between;
	width: 90%;
	height: 20rem;
	padding: 0 3.5rem;
	margin-top: 1rem;
}
.editModal__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 50%;
	height: 100%;
}
.editModal__info--lists {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
}
.editModal__info--item {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: 4rem;
	font-size: 2rem;
	color: #333;
	margin-bottom: 1rem;
	text-wrap: nowrap;
}
.editModal__info--item:before {
	content: '';
	width: 0.9rem;
	height: 0.9rem;
	background-color: #471aaa;
	border-radius: 50%;
	margin-left: 1rem;
}
.editModal__info--item--text {
	display: inline-block;
	color: #777;
	margin-right: 1rem;
}
.editModal__uploadPicture {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20rem;
	height: 20rem;
	overflow: hidden;
}
.editModal__uploadPicture--input {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	border-radius: 50%;
}
.editModal__uploadPicture--img {
	width: 100%;
	height: 100%;
	border-radius: 50%;
	object-fit: cover;
}
.editModal__formBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	height: 26.5rem;
	padding: 0 3.5rem;
	margin-top: 2rem;
}
.editModal__form {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 100%;
	height: 100%;
	gap: 1.5rem;
}
.editModal__form--field {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 48%;
	flex-grow: 1;
	margin: 0.6rem 0;
}
.editModal__form--input {
	width: 310px;
	height: 50px;
	background: #d3d8e5;
	border: none;
	border-radius: 13px;
	outline: none;
	padding-right: 3.5rem;
	font-family: lalezar;
	font-size: 2rem;
	font-weight: 400;
}
.editModal__form--input::-webkit-outer-spin-button,
.editModal__form--input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
.editModal__form--input::placeholder {
	color: #777;
	padding-left: 1rem;
}
.editModal__form--description {
	width: 100%;
	height: 10.2rem;
	background: #d3d8e5;
	border: none;
	border-radius: 13px;
	outline: none;
	padding-right: 3.5rem;
	padding-top: 1rem;
	font-family: lalezar;
	font-size: 2rem;
	font-weight: 400;
}
.editModal__form--description--icon {
	top: 23% !important;
}
.editModal__form--label {
	position: absolute;
	top: 0;
	right: 1rem;
	transform: translateY(-50%);
	background-color: #d3d8e5;
	font-size: 1.6rem;
	color: #471aaa;
	padding: 0 0.5rem;
	border-radius: 0.2rem;
}
.editModal__form--label--active {
	top: -60%;
	transform: translateY(60%);
	font-size: 1.6rem;
}
.editModal__form--icon {
	position: absolute;
	right: 3px;
	top: 50%;
	transform: translateY(-50%);
}
.editModal__button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	width: 90%;
	gap: 3rem;
	padding: 3rem 3.5rem;
}
.editModal__button--submit,
.editModal__button--cancel {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 27.5rem;
	height: 6.5rem;
	border-radius: 13px;
	font-size: 2rem;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s ease;
}
.editModal__button--submit > svg,
.editModal__button--cancel > svg {
	margin-right: 1rem;
}
.editModal__button--submit {
	background-color: #471aaa;
	color: #fff;
}
.editModal__button--submit:hover {
	background-color: #612ecf;
}
.editModal__button--cancel {
	background-color: #d3d8e5;
	color: #777;
}
.editModal__button--cancel:hover {
	background-color: #d3d8e5b3;
}
.toast {
	position: fixed;
	top: 20px;
	right: 20px;
	background: #16c000;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	box-shadow: 0 0 10px #0000004d;
	display: flex;
	align-items: center;
	gap: 10px;
}
.toast-close {
	background: transparent;
	border: none;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
}
body {
	font-family: Morabba, cursive;
	background-color: #f5f5f5;
}
* {
	font-family: Morabba, cursive;
}
